@import "tailwindcss"; 

:root {
  --font-outfit: Outfit, sans-serif;
  --breakpoint-2xsm: 375px;
  --breakpoint-xsm: 425px;
  --breakpoint-3xl: 2000px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

 
  --text-title-2xl: 72px;
  --text-title-2xl--line-height: 90px;
  --text-title-xl: 60px;
  --text-title-xl--line-height: 72px;
  --text-title-lg: 48px;
  --text-title-lg--line-height: 60px;
  --text-title-md: 36px;
  --text-title-md--line-height: 44px;
  --text-title-sm: 30px;
  --text-title-sm--line-height: 38px;
  --text-theme-xl: 20px;
  --text-theme-xl--line-height: 30px;
  --text-theme-sm: 14px;
  --text-theme-sm--line-height: 20px;
  --text-theme-xs: 12px;
  --text-theme-xs--line-height: 18px;

  
  --color-current: currentColor;
  --color-transparent: transparent;
  --color-white: #ffffff;
  --color-black: #101828;

 
  --color-brand-25: #f2f7ff;
  --color-brand-50: #ecf3ff;
  --color-brand-100: #dde9ff;
  --color-brand-200: #c2d6ff;
  --color-brand-300: #9cb9ff;
  --color-brand-400: #7592ff;
  --color-brand-500: #465fff;
  --color-brand-600: #3641f5;
  --color-brand-700: #2a31d8;
  --color-brand-800: #252dae;
  --color-brand-900: #262e89;
  --color-brand-950: #161950;

  
  --color-blue-light-25: #f5fbff;
  --color-blue-light-50: #f0f9ff;
  --color-blue-light-100: #e0f2fe;
  --color-blue-light-200: #b9e6fe;
  --color-blue-light-300: #7cd4fd;
  --color-blue-light-400: #36bffa;
  --color-blue-light-500: #0ba5ec;
  --color-blue-light-600: #0086c9;
  --color-blue-light-700: #026aa2;
  --color-blue-light-800: #065986;
  --color-blue-light-900: #0b4a6f;
  --color-blue-light-950: #062c41;

  
  --color-gray-25: #fcfcfd;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f2f4f7;
  --color-gray-200: #e4e7ec;
  --color-gray-300: #d0d5dd;
  --color-gray-400: #98a2b3;
  --color-gray-500: #667085;
  --color-gray-600: #475467;
  --color-gray-700: #344054;
  --color-gray-800: #1d2939;
  --color-gray-900: #101828;
  --color-gray-950: #0c111d;

  
  --color-orange-25: #fffaf5;
  --color-orange-50: #fff6ed;
  --color-orange-100: #ffead5;
  --color-orange-200: #fddcab;
  --color-orange-300: #feb273;
  --color-orange-400: #fd853a;
  --color-orange-500: #fb6514;
  --color-orange-600: #ec4a0a;
  --color-orange-700: #c4320a;
  --color-orange-800: #9c2a10;
  --color-orange-900: #7e2410;
  --color-orange-950: #511c10;

  
  --color-success-25: #f6fef9;
  --color-success-50: #ecfdf3;
  --color-success-100: #d1fadf;
  --color-success-200: #a6f4c5;
  --color-success-300: #6ce9a6;
  --color-success-400: #32d583;
  --color-success-500: #12b76a;
  --color-success-600: #039855;
  --color-success-700: #027a48;
  --color-success-800: #05603a;
  --color-success-900: #054f31;
  --color-success-950: #053321;

 
  --color-error-25: #fffbfa;
  --color-error-50: #fef3f2;
  --color-error-100: #fee4e2;
  --color-error-200: #fecdca;
  --color-error-300: #fda29b;
  --color-error-400: #f97066;
  --color-error-500: #f04438;
  --color-error-600: #d92d20;
  --color-error-700: #b42318;
  --color-error-800: #912018;
  --color-error-900: #7a271a;
  --color-error-950: #55160c;

  
  --color-warning-25: #fffcf5;
  --color-warning-50: #fffaeb;
  --color-warning-100: #fef0c7;
  --color-warning-200: #fedf89;
  --color-warning-300: #fec84b;
  --color-warning-400: #fdb022;
  --color-warning-500: #f79009;
  --color-warning-600: #dc6803;
  --color-warning-700: #b54708;
  --color-warning-800: #93370d;
  --color-warning-900: #7a2e0e;
  --color-warning-950: #4e1d09;

  
  --color-theme-pink-500: #ee46bc;
  --color-theme-purple-500: #7a5af8;

 
  --color-text-primary: var(--color-gray-900);
  --color-text-secondary: var(--color-gray-700);
  --color-text-tertiary: var(--color-gray-500);
  --color-text-disabled: var(--color-gray-400);
  --color-text-on-brand: var(--color-white);
  --color-text-on-dark-bg: var(--color-white);
  --color-text-link: var(--color-brand-600);
  --color-text-placeholder: var(--color-gray-400);
  --color-text-error: var(--color-error-600);
  --color-text-success: var(--color-success-600);
  --color-text-warning: var(--color-warning-600);

  --color-background-body: var(--color-gray-50);
  --color-background-primary: var(--color-white);
  --color-background-secondary: var(--color-gray-100);
  --color-background-tertiary: var(--color-gray-200);
  --color-background-brand: var(--color-brand-500);
  --color-background-brand-hover: var(--color-brand-600);
  --color-background-brand-subtle: var(--color-brand-50);
  --color-background-overlay: rgba(16, 24, 40, 0.6);

  --color-border-default: var(--color-gray-200);
  --color-border-strong: var(--color-gray-300);
  --color-border-subtle: var(--color-gray-100);
  --color-border-brand: var(--color-brand-500);
  --color-border-focus: var(--color-brand-300);

  
  --shadow-color-rgb: 16, 24, 40; 
  --shadow-theme-md:
    0px 4px 8px -2px rgba(var(--shadow-color-rgb), 0.1),
    0px 2px 4px -2px rgba(var(--shadow-color-rgb), 0.06);
  --shadow-theme-lg:
    0px 12px 16px -4px rgba(var(--shadow-color-rgb), 0.08),
    0px 4px 6px -2px rgba(var(--shadow-color-rgb), 0.03);
  --shadow-theme-sm:
    0px 1px 3px 0px rgba(var(--shadow-color-rgb), 0.1),
    0px 1px 2px 0px rgba(var(--shadow-color-rgb), 0.06);
  --shadow-theme-xs: 0px 1px 2px 0px rgba(var(--shadow-color-rgb), 0.05);
  --shadow-theme-xl:
    0px 20px 24px -4px rgba(var(--shadow-color-rgb), 0.08),
    0px 8px 8px -4px rgba(var(--shadow-color-rgb), 0.03);
  --shadow-datepicker-light: -5px 0 0 var(--color-gray-50), 5px 0 0 var(--color-gray-50);
  --shadow-focus-ring-color-rgb: 70, 95, 255; 
  --shadow-focus-ring: 0px 0px 0px 4px rgba(var(--shadow-focus-ring-color-rgb), 0.12);
  --shadow-slider-navigation:
    0px 1px 2px 0px rgba(var(--shadow-color-rgb), 0.1),
    0px 1px 3px 0px rgba(var(--shadow-color-rgb), 0.1);
  --shadow-tooltip:
    0px 4px 6px -2px rgba(var(--shadow-color-rgb), 0.05),
    -8px 0px 20px 8px rgba(var(--shadow-color-rgb), 0.05);

  --drop-shadow-4xl:
    0 35px 35px rgba(0, 0, 0, 0.25), 0 45px 65px rgba(0, 0, 0, 0.15);

  
  --z-index-1: 1;
  --z-index-9: 9;
  --z-index-99: 99;
  --z-index-999: 999;
  --z-index-9999: 9999;
  --z-index-99999: 99999;
  --z-index-999999: 999999;
}

@media (prefers-color-scheme : dark){
  :root {
    
    
    --color-text-primary: var(--color-gray-100);        
    --color-text-secondary: var(--color-gray-300);      
    --color-text-tertiary: var(--color-gray-500);      
    --color-text-disabled: var(--color-gray-600);       
    --color-text-on-brand: var(--color-white);         
    --color-text-on-dark-bg: var(--color-gray-100);     
    --color-text-link: var(--color-brand-400);          
    --color-text-placeholder: var(--color-gray-600);    
    --color-text-error: var(--color-error-400);        
    --color-text-success: var(--color-success-400);      
    --color-text-warning: var(--color-warning-400);       

    
    --color-background-body: var(--color-gray-950);    
    --color-background-primary: var(--color-gray-900);  
    --color-background-secondary: var(--color-gray-800);
    --color-background-tertiary: var(--color-gray-700); 
    --color-background-brand: var(--color-brand-600);  
    --color-background-brand-hover: var(--color-brand-700);
    --color-background-brand-subtle: rgba(156, 185, 255, 0.15); 
    --color-background-overlay: rgba(0, 0, 0, 0.8);     

    
    --color-border-default: var(--color-gray-800);      
    --color-border-strong: var(--color-gray-700);       
    --color-border-subtle: var(--color-gray-900);      
    --color-border-brand: var(--color-brand-600);       
    --color-border-focus: var(--color-brand-400);       
  }
}


*,
::after,
::before,
::backdrop,
::file-selector-button {
  border-color: var(--color-border-default, currentColor);
  transition: border-color 0.3s ease; 
}

button:not(:disabled),
[role="button"]:not(:disabled) {
  cursor: pointer;
}

body {
  position: relative;
  font-weight: 400;
  font-family: var(--font-outfit);
  z-index: var(--z-index-1);
  background-color: var(--color-background-body);
  color: var(--color-text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}


.menu-item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.75rem;
  padding: 0.5rem 0.75rem;
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: var(--text-theme-sm);
  line-height: var(--text-theme-sm--line-height);
  transition: background-color 0.2s ease, color 0.2s ease;
}

.menu-item-active {
  background-color: var(--color-background-brand-subtle);
  color: var(--color-brand-500);
}

.menu-item-inactive {
  color: var(--color-text-secondary);
}
.menu-item-inactive:hover {
  background-color: var(--color-background-secondary);
  color: var(--color-text-primary);
}

.menu-item-icon {
  color: var(--color-text-tertiary);
}
.group:hover .menu-item-icon {
   color: var(--color-text-secondary);
}

.menu-item-icon-active {
  color: var(--color-brand-500);
}

.menu-item-icon-inactive {
  color: var(--color-text-tertiary);
}
.group:hover .menu-item-icon-inactive {
  color: var(--color-text-secondary);
}

.menu-item-arrow {
  position: relative;
}
.menu-item-arrow-active {
  transform: rotate(180deg);
  color: var(--color-brand-500);
}
.menu-item-arrow-inactive {
  color: var(--color-text-tertiary);
}
.group:hover .menu-item-arrow-inactive {
  color: var(--color-text-secondary);
}
.fc .fc-view-harness { max-width: 100%; overflow-x: auto; }
.fc-dayGridMonth-view.fc-view.fc-daygrid { min-width: 718px; }
.fc .fc-scrollgrid-section > * { border-right-width: 0; border-bottom-width: 0; }
.fc .fc-scrollgrid { border-left-width: 0; }
.fc .fc-toolbar.fc-header-toolbar {
  display: flex; flex-direction: column; gap: 1rem; padding: 1.5rem 1.5rem 0 1.5rem ; 
}
@media (min-width: 640px) { .fc .fc-toolbar.fc-header-toolbar { flex-direction: row; } }
.fc-button-group { gap: 0.5rem; }
.fc-button-group .fc-button {
  display: flex !important; height: 2.5rem !important; width: 2.5rem !important;
  align-items: center !important; justify-content: center !important; border-radius: 0.5rem !important;
  border: 1px solid var(--color-border-default) !important; background-color: transparent !important;
}
.fc-button-group .fc-button:hover {
  border-color: var(--color-border-strong) !important; background-color: var(--color-background-secondary) !important;
}
.fc-button-group .fc-button:focus { box-shadow: none !important; }
.fc-button-group .fc-button:active {
  border-color: var(--color-border-strong) !important; background-color: transparent !important; box-shadow: none !important;
}
.fc-button-group .fc-button.fc-prev-button:before {
  display: inline-block !important; margin-top: 0.25rem !important;
  content: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.0068 6L9.75684 12.25L16.0068 18.5' stroke='%23344054' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.fc-button-group .fc-button.fc-next-button:before {
  display: inline-block !important; margin-top: 0.25rem !important;
  content: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.50684 19L15.7568 12.75L9.50684 6.5' stroke='%23344054' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.fc-button-group .fc-button .fc-icon { display: none !important; }
.fc-addEventButton-button {
  border-radius: 0.5rem !important; border-width: 0 !important;
  background-color: var(--color-background-brand) !important;
  padding: 0.625rem 1rem !important; font-size: 0.875rem !important;
  line-height: 1.25rem !important; font-weight: 500 !important;
  color: var(--color-text-on-brand) !important;
}
.fc-addEventButton-button:hover { background-color: var(--color-background-brand-hover) !important; }
.fc-addEventButton-button:focus { box-shadow: none !important; }
.fc-toolbar-title {
  font-size: 1.125rem !important; line-height: 1.75rem !important; font-weight: 500 !important;
  background-color: var(--color-background-body);
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: var(--color-text-primary) !important;
}
.fc-header-toolbar.fc-toolbar .fc-toolbar-chunk:last-child {
  border-radius: 0.5rem !important; background-color: var(--color-background-secondary) !important;
  padding: 0.125rem !important;
}
.fc-header-toolbar.fc-toolbar .fc-toolbar-chunk:last-child .fc-button {
  height: auto !important; width: auto !important; border-radius: 0.375rem !important;
  border-width: 0 !important; background-color: transparent !important;
  padding: 0.5rem 1.25rem !important; font-size: 0.875rem !important;
  line-height: 1.25rem !important; font-weight: 500 !important;
  color: var(--color-text-tertiary) !important;
}
.fc-header-toolbar.fc-toolbar .fc-toolbar-chunk:last-child .fc-button:hover { color: var(--color-text-primary) !important; }
.fc-header-toolbar.fc-toolbar .fc-toolbar-chunk:last-child .fc-button:focus { box-shadow: none !important; }
.fc-header-toolbar.fc-toolbar .fc-toolbar-chunk:last-child .fc-button.fc-button-active {
  color: var(--color-text-primary) !important; background-color: var(--color-background-primary) !important;
}

.fc-theme-standard th {
  border-left-width: 0 !important; border-right-width: 0 !important;
  border-top: 1px solid var(--color-border-default) !important;
  background-color: var(--color-background-primary) !important; text-align: left !important;
}
.fc-theme-standard td, .fc-theme-standard .fc-scrollgrid { border-color: var(--color-border-default) !important; }
.fc .fc-col-header-cell-cushion {
  padding: 1rem 1.25rem !important; font-size: 0.875rem !important;
  line-height: 1.25rem !important; font-weight: 500 !important;
  text-transform: uppercase !important; color: var(--color-text-tertiary) !important;
}
.fc .fc-daygrid-day.fc-day-today { background-color: var(--color-background-body) !important; }
.fc .fc-daygrid-day { padding: 0.5rem !important; }
.fc .fc-daygrid-day.fc-day-today .fc-scrollgrid-sync-inner {
  border-radius: 0.25rem !important; background-color: var(--color-background-secondary) !important;
}

.fc .fc-daygrid-day-number {
  padding: 0.75rem !important; font-size: 0.875rem !important; line-height: 1.25rem !important;
  font-weight: 500 !important; color: var(--color-text-secondary) !important;
}
.fc .fc-daygrid-day-top { flex-direction: row !important; }
.fc .fc-day-other .fc-daygrid-day-top { opacity: 1; }
.fc .fc-day-other .fc-daygrid-day-top .fc-daygrid-day-number { color: var(--color-text-disabled) !important; }

.event-fc-color {
  border-radius: 0.5rem !important; padding: 0.625rem 0.75rem 0.625rem 1rem !important;
}
.event-fc-color .fc-event-title {
  padding: 0 !important; font-size: 0.875rem !important; line-height: 1.25rem !important;
  font-weight: bold !important; color: var(--color-text-primary) !important;
  text-transform: capitalize;
}
.fc-daygrid-event-dot {
  width: 0.25rem !important; height: 1.25rem !important; margin-left: 0 !important;
  margin-right: 0.75rem !important; border: none !important; border-radius: 0.25rem !important;
}
.fc-event { box-shadow: none !important; }
.fc-daygrid-event.fc-event-start { margin-left: 0.75rem !important; }

.event-fc-color.fc-bg-success {
  border-color: var(--color-success-100) !important; background-color: var(--color-success-50) !important;
}

.event-fc-color.fc-bg-danger {
  border-color: var(--color-error-100) !important; background-color: var(--color-error-50) !important;
}

.event-fc-color.fc-bg-primary {
  border-color: var(--color-brand-100) !important; background-color: var(--color-brand-300) !important;
}

.event-fc-color.fc-bg-warning {
  border-color: var(--color-orange-100) !important; background-color: var(--color-orange-50) !important;
}
.dark .event-fc-color.fc-bg-warning {
  border-color: var(--color-orange-800) !important; background-color: var(--color-orange-900) !important;
}

.event-fc-color.fc-bg-success .fc-daygrid-event-dot { background-color: var(--color-success-500) !important; }
.dark .event-fc-color.fc-bg-success .fc-daygrid-event-dot { background-color: var(--color-success-300) !important; }
.event-fc-color.fc-bg-danger .fc-daygrid-event-dot { background-color: var(--color-error-500) !important; }
.dark .event-fc-color.fc-bg-danger .fc-daygrid-event-dot { background-color: var(--color-error-300) !important; }
.event-fc-color.fc-bg-primary .fc-daygrid-event-dot { background-color: var(--color-brand-500) !important; }
.dark .event-fc-color.fc-bg-primary .fc-daygrid-event-dot { background-color: var(--color-brand-300) !important; }
.event-fc-color.fc-bg-warning .fc-daygrid-event-dot { background-color: var(--color-orange-500) !important; }
.dark .event-fc-color.fc-bg-warning .fc-daygrid-event-dot { background-color: var(--color-orange-300) !important; }

.fc-direction-ltr .fc-timegrid-slot-label-frame {
  padding: 0.375rem 0.75rem !important; text-align: left !important;
  font-size: 0.875rem !important; line-height: 1.25rem !important; font-weight: 500 !important;
  color: var(--color-text-tertiary) !important;
}
.fc .fc-timegrid-axis-cushion {
  font-size: 0.875rem !important; line-height: 1.25rem !important; font-weight: 500 !important;
  color: var(--color-text-tertiary) !important;
}
.custom-calendar .fc-h-event { background-color: fill; border: none; color: var(--color-text-primary); }
.fc.fc-media-screen { min-height: 100vh !important; }

.input-date-icon::-webkit-inner-spin-button,
.input-date-icon::-webkit-calendar-picker-indicator { opacity: 0; -webkit-appearance: none; }



/* Table Styling */


.btn-base {
  /* Layout & Spacing (Sesuaikan padding jika perlu) */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem; /* Contoh: px-4 py-2 */
  /* Font */
  font-size: var(--text-theme-sm); /* 14px */
  line-height: var(--text-theme-sm--line-height); /* 20px */
  font-weight: 500; /* medium */
  /* Appearance */
  border-width: 1px;
  border-style: solid;
  border-radius: 0.375rem; /* rounded-md */
  white-space: nowrap;
  cursor: pointer;
  /* Transition */
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Default Button Style (Mirip defaultButtonClass) */
.btn-default {
  color: var(--color-text-primary);
  background-color: var(--color-background-secondary);
  border-color: var(--color-border-default);
}

.btn-default:hover {
  background-color: var(--color-background-secondary);
  border-color: var(--color-border-focus); /* Atau border-strong jika prefer */
}

.btn-default:focus-visible { /* Style focus yang lebih jelas */
   outline: 2px solid transparent;
   outline-offset: 2px;
   box-shadow: 0 0 0 2px var(--color-background-body), 0 0 0 4px var(--color-border-focus);
}



.btn-action {
 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.5rem; 
  font-size: 1.125rem; 
  line-height: 1;
  border-radius: 0.25rem; 

  
  color: var(--color-text-secondary);
  background-color: var(--color-background-secondary); 
  border: 1px solid var(--color-border-default);    

  
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.btn-action:hover {
  background-color: var(--color-background-tertiary);
  border-color: var(--color-border-focus);
  color: var(--color-text-primary); 
}

.btn-action:focus {
  background-color: var(--color-background-body);
}


.btn-disabled {
  color: var(--color-text-disabled) !important;
  background-color: var(--color-background-tertiary) !important; 
  border-color: var(--color-border-default) !important;
  cursor: not-allowed !important;
  opacity: 0.7 !important;
}

.menu-dropdown { 
  
  background-color: var(--color-background-primary);
  border-radius: 0.5rem;
  border : 1px solid var(--color-border-default);
  padding: 4px 0;
}


.menu-dropdown-item {

  display: block;
  width: 100%;
  text-align: left;
  padding: 0.5rem 1rem; 
  font-size: var(--text-theme-sm);
  line-height: var(--text-theme-sm--line-height);
  
  background-color: transparent; 
  border: none;
  cursor: pointer;
  
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}


.menu-dropdown-item {
  color: var(--color-text-primary);
}


.menu-dropdown-item:hover {
  background-color: var(--color-background-tertiary);
  color: var(--color-text-primary); 
}


.menu-dropdown-item-danger {
  color: var(--color-text-error);
}

.menu-dropdown-item-danger:hover {
  background-color: rgba(var(--color-error-rgb, 240, 68, 56), 0.1); 
  color: var(--color-text-error); 
}

.status-text {
  
  display: inline-block;
  padding: 0.125rem 0.5rem; 
  border-radius: 0.25rem; 
  font-weight: bold;
  text-transform: capitalize;
}

.status-aktif {
  color: var(--color-text-link);
  background-color: rgba(var(--color-success-rgb), 0.1); 
}

.status-selesai {
  color:  var(--color-text-success); 
  background-color: rgba(var(--color-brand-rgb), 0.1); 
}

.status-arsip {
  color: var(--color-text-tertiary);
  font-weight: 400; 
}

.status-default {
  color: var(--color-text-secondary);
  font-weight: 400; 
}





.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent; 
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #a0aec0; 
  border-radius: 3px;
}
.dark .custom-scroll::-webkit-scrollbar-thumb {
  background-color: #4a5568; 
}

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #a0aec0 transparent;
}
.dark .custom-scroll {
  scrollbar-color: #4a5568 transparent;
}